.title {
  font-family: Montserrat, sans-serif;
  color: #1A1A1A;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 1em;
}

.table {
  display: inline-flex;
  padding-left: 4.5em;
  flex-direction: column;
}